@model EjarTech.Models.AccountsModel.ForgetPassword
@inject EjarTech.Services.LanguageServies.Helpers.ITranslationProvider TranslationManager
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="row" action="@Url.Action("ForgetPassword", "Accounts")" method="POST">
    <div class="small-12 meduim-12 large-12 columns"><input style="text-align:center; margin-right: auto; margin-left: auto;" asp-for="PhoneNumber" placeholder="@TranslationManager["phone_number"]" /></div>
    <div class="small-12 meduim-12 large-12 columns"><input style="text-align:center; margin-right: auto; margin-left: auto;" asp-for="EMail" placeholder="@TranslationManager["email"]" /></div>
    <div class="small-12 meduim-12 large-12 columns"><button class="button alert expanded" type="submit">@TranslationManager["confirm"]</button></div>
</form>