@inject EjarTech.Services.LanguageServies.Helpers.ITranslationProvider Translation
@{
    ViewData["Title"] = "Scces";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>&quot;Sccess Register&quot; You now need to virifying your email and phone number </h1>

